apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich

labels:
- pairs:
    environment: homelab
- includeSelectors: true
  pairs:
    app: immich

resources:
- database.yaml
- ingress.yaml
- pvc.yaml
- sealed-secrets/immich-immich-database-secret-sealed.yaml

helmCharts:
- name: immich
  namespace: immich
  releaseName: immich
  repo: https://immich-app.github.io/immich-charts
  valuesInline:
    controllers:
      main:
        containers:
          main:
            image:
              tag: v2.5.6
    immich:
      persistence:
        library:
          existingClaim: immich-library-data-iscsi
    machine-learning:
      enabled: true
      persistence:
        cache:
          enabled: true
          size: 10Gi
          type: persistentVolumeClaim
    server:
      controllers:
        main:
          containers:
            main:
              env:
                DB_DATABASE_NAME: immich
                DB_HOSTNAME: immich-db-rw
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      key: password
                      name: immich-database-secret
                DB_USERNAME: immich
          strategy: Recreate
    valkey:
      enabled: true
  version: 0.10.3
