---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-assistant

labels:
  - pairs:
      environment: homelab
  - includeSelectors: true
    pairs:
      app: home-assistant

resources:
  - namespace.yml
  - pvc.yml
  - deployment.yml
  - service.yml
  - ingress.yml

images:
  - name: home-assistant
    newName: ghcr.io/home-assistant/home-assistant
    newTag: 2025.12.3
