---
apiVersion: v1
kind: Namespace
metadata:
  name: database
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: database
  namespace: database
spec:
  instances: {{ database_instances }}
  storage:
    size: {{ database_storage_size }}
{% if database_storageclass is defined %}
    storageClass: {{ database_storageclass }}
{% endif %}
