global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    maxconn 4096

    ssl-default-bind-ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA256
    ssl-default-bind-options no-sslv3 no-tls-tickets

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend http-in
    bind *:80
    http-request redirect scheme https if !{ ssl_fc }

frontend https-in
    bind *:443 ssl crt /etc/haproxy/ssl/
    mode http

    option forwardfor
    http-request set-header X-Real-IP          %[src]
    http-request set-header X-Forwarded-Proto  https
    http-request set-header X-Forwarded-Host   %[req.hdr(Host)]
    http-request set-header X-Forwarded-Port   443

{% for backend in haproxy_https_backends %}
{% if not backend.is_default | default(false) %}
{% for domain in backend.domains %}
    acl host_{{ backend.name | regex_replace('[^a-zA-Z0-9]', '_') }}_{{ loop.index }} hdr(host) -i {{ domain }}.{{ haproxy_base_domain }}
{% endfor %}
{% for domain in backend.domains %}
#      acl host_{{ backend.name | regex_replace('[^a-zA-Z0-9]', '_') }}_{{ loop.index }} hdr(host) -i {{ domain }}
{% endfor %}
{% for domain in backend.domains %}
    use_backend backend_{{ backend.name }} if host_{{ backend.name | regex_replace('[^a-zA-Z0-9]', '_') }}_{{ loop.index }}
{% endfor %}
{% endif %}
{% endfor %}

{% for backend in haproxy_https_backends %}
{% if backend.is_default | default(false) %}
    default_backend backend_{{ backend.name }}
{% endif %}
{% endfor %}

{% for backend in haproxy_https_backends %}
backend backend_{{ backend.name }}
    mode http
{% for server in backend.servers %}
    server {{ server | regex_replace('[^a-zA-Z0-9]', '-') }} {{ server }}:{{ backend.port }}{% if backend.ssl | default(false) %} ssl{% if not backend.ssl_verify | default(true) %} verify none{% endif %}{% endif %}{% if backend.health_check | default(false) %} check{% endif %}

{% endfor %}

{% endfor %}

{% for service in haproxy_tcp_services %}
frontend {{ service.name }}-in
    bind *:{{ service.listen_port }}
    mode tcp
    default_backend backend_{{ service.name }}

backend backend_{{ service.name }}
    mode tcp
{% for server in service.servers %}
    server {{ server | regex_replace('[^a-zA-Z0-9]', '-') }} {{ server }}:{{ service.backend_port }}{% if service.health_check | default(false) %} check{% endif %}

{% endfor %}

{% endfor %}
