---
# tasks file for wireguard
- name: Install wireguard
  ansible.builtin.apt:
    name: wireguard
    state: present
    update_cache: true

# TODO: change changed when
- name: Generate wireguard priv key if not exists
  ansible.builtin.command: wg genkey
  register: generated_private_key
  args:
    creates: "/etc/wireguard/private.key"
  changed_when: false

# TODO: change when this actually runs depending on the output of the previous command
- name: Write private key to file
  ansible.builtin.copy:
    content: "{{ generated_private_key.stdout }}"
    dest: "/etc/wireguard/private.key"
    owner: root
    group: root
    mode: "0600"
    force: false

# TODO: change when this actually runs depending on the output of the previous command
- name: Generate WireGuard public key from private key
  ansible.builtin.shell: "cat /etc/wireguard/private.key | wg pubkey"
  register: wireguard_public_key
  changed_when: false

- name: Register priv key value
  ansible.builtin.shell: "cat /etc/wireguard/private.key"
  register: wireguard_private_key
  changed_when: false

- name: Create wireguard configuration
  ansible.builtin.template:
    src: wireguard.j2
    dest: /etc/wireguard/wg0.conf
    owner: root
    group: root
    mode: "0600"
    backup: true

- name: Log into IspConfig and retrieve session_id
  ansible.builtin.uri:
    url: https://admin.cindergla.de/remote/json.php?login
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      username: "{{ wireguard_ispconfig_username }}"
      password: "{{ wireguard_ispconfig_password }}"
    return_content: true
  register: session_id_raw
  delegate_to: localhost
  run_once: true

- name: Flatten variable to be more usable
  ansible.builtin.set_fact:
    session_id: "{{ session_id_raw.json.response }}"

- name: Create Vhost and proxy on VPS for each external service
  ansible.builtin.uri:
    url: https://admin.cindergla.de/remote/json.php?sites_web_domain_add
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      session_id: "{{ session_id }}"
      client_id: "0"
      params:
        server_id: "1"
        ip_address: "*"
        domain: "{{ item.name }}.cindergla.de"
        type: "vhost"
        parent_domain_id: "0"
        vhost_type: "name"
        hd_quota: "100000"
        traffic_quota: "-1"
        cgi: "n"
        ssi: "n"
        suexec: "y"
        errordocs: "1"
        is_subdomainwww: "1"
        subdomain: "none"
        php: "no"
        proxy_protocol: "n" # this seems counter intuitive but this on "y" breaks the proxy
        ruby: "n"
        redirect_type: ""
        redirect_path: ""
        rewrite_to_https: "y"
        ssl: "y"
        ssl_letsencrypt: "y"
        ssl_state: ""
        ssl_locality: ""
        ssl_organisation: ""
        ssl_organisation_unit: ""
        ssl_country: ""
        ssl_domain: ""
        ssl_request: ""
        ssl_key: ""
        ssl_cert: ""
        ssl_bundle: ""
        ssl_action: ""
        stats_password: ""
        stats_type: ""
        storage_time_log_files: "7"
        allow_override: "All"
        apache_directives: |-
          SSLProxyEngine     on
          ProxyPreserveHost  on
          Protocols          http/1.1

          ProxyPass          /.well-known/acme-challenge !
          ProxyPass          /  https://10.0.0.2/  upgrade=websocket keepalive=On
          ProxyPassReverse   /  https://10.0.0.2/

          RequestHeader set X-Forwarded-Proto "https"
        php_open_basedir: "/"
        custom_php_ini: ""
        pm: "ondemand"
        pm_max_children: "500"
        pm_max_requests: "0"
        pm_process_idle_timeout: "5"
        backup_interval: "daily"
        backup_copies: "7"
        active: "y"
        traffic_quota_lock: "n"
        http_port: "80"
        https_port: "443"
        tideways_sample_rate: "25"
  delegate_to: localhost
  run_once: true
  loop: "{{ services }}"
  when: item.is_external | default(false) | bool
