[defaults]
inventory               = ./inventory
interpreter_python      = auto_silent
vault_password_file     = .vaultpw

host_key_checking       = False
result_format           = yaml
callback_result_format  = yaml

gathering               = smart
fact_caching            = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout    = 3600

[diff]
always                  = True
