apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich

labels:
  - pairs:
      environment: homelab
  - includeSelectors: true
    pairs:
      app: immich

resources:
  - sealed-secrets/
  - database.yml
  - namespace.yml
  - ingress.yml
  - pvc.yml

helmCharts:
  - name: immich
    repo: https://immich-app.github.io/immich-charts
    version: 0.10.3
    releaseName: immich
    namespace: immich
    valuesInline:
      controllers:
        main:
          containers:
            main:
              image:
                tag: v2.4.1
      server:
        controllers:
          main:
            strategy: Recreate
            containers:
              main:
                env:
                  DB_HOSTNAME: immich-db-rw
                  DB_USERNAME: immich
                  DB_PASSWORD:
                    valueFrom:
                      secretKeyRef:
                        name: immich-database-secret
                        key: password
                  DB_DATABASE_NAME: immich

      valkey:
        enabled: true

      immich:
        persistence:
          library:
            existingClaim: immich-library-data-iscsi

      machine-learning:
        enabled: true
        persistence:
          cache:
            enabled: true
            size: 10Gi
            type: persistentVolumeClaim
