---
- name: Clone the certbot-dns-netcup repository
  ansible.builtin.git:
    repo: https://github.com/coldfix/certbot-dns-netcup.git
    dest: /opt/certbot-dns-netcup
    update: false

- name: Build Docker image for certbot-dns-netcup
  community.docker.docker_image:
    build:
      path: /opt/certbot-dns-netcup
    name: certbot-dns-netcup
    tag: latest
    state: present
    source: build
